<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/member.css">
    <title>Secret_</title>
</head>
<body>
    <% if(!locals.currentUser.admin) { %>
    <h1>Become an admin</h1>
    <p>Guess the password and administrate Secret_ social media!</p>
    <p><i>Hint: linux superuser?</i></p>
    <%- include("partials/error.ejs") %>
    <form action="/admin" method="post">
        <label for="sudo">Sudo password</label>
        <input type="password" name="sudo" id="sudo" required>
        <input type="submit">
    </form>
    <% } else { %>
        <h1>You are an admin!</h1>
        <form action="/admin-remove" method="post">
            <input type="submit" value="Remove admin">
        </form>
    <% } %>
</body>
</html>