<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret_</title>
</head>
<body>
    <header>
        <span>Secret_</span>
        <% if(!isAuth) { %>
            <a href="/sign-up">Sign-up</a>
            <a href="/log-in">Log-in</a>
        <% } else { %>
            <a href="/log-out">Log-out</a>
        <%}%>
    </header>
    <h1>Secret_</h1>
    <% if(currentUser) { %>
        <p>Welcome Back @<%= currentUser.username %>!</p>
    <%}%>
    <div>
        <img src="/media/icons/acc.svg" alt="">
        <p><%= currentUser ? `@${currentUser.username}` : "@username" %></p>
        <form action="/post-msg" method="post">
            <textarea name="message" id="message" placeholder="What are you thinking?">
            </textarea>
            <input type="submit" value="Post">
        </form>
    </div>
</body>
</html>