<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret_</title>
</head>
<body>
    <main>
        <div>
            <h1><%= status %> Internal Server Error</h1>
            <p>Something went wrong on the server</p>
            <p><i>Please try again!</i></p>
        </div>
    </main>
</body>
</html>