body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.fiel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type=submit]{
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #e2e8f0;
    color: #151515;
}